PORT = 3000
DB_HOST = "localhost"
DB_USER = "root"
DB_PASSWORD =
DB_DATABASE = "test"
JWT_SECRET_KEY = "dangdev"
MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=minhdang26082001@gmail.com
MAIL_PASSWORD=fdkgskloegpdlgxz
MAIL_ENCRYPTION=TLS
MAIL_FROM_ADDRESS=minhdang26082001@gmail.com
MAIL_FROM_NAME=Wheystore
